# dependencies
node_modules/

# logs
logs
*.log
npm-debug.log*

# environment variables
.env
.env.local
.env.*.local

# build folders
dist/
build/

# OS files
.DS_Store
Thumbs.db

# editor files
.vscode/
.idea/

# coverage reports
coverage/

# temporary files
*.tmp
*.temp